.bgPrincipal{
    background-color:rgba(87, 86, 86, 0.397);}
.bg-grey{
    background-color: rgba(232, 225, 235, 0.842); padding: 25px;}
.bg-pink{
    background-color: rgb(255, 243, 228); padding: 10px;}