.bgPrincipal{
    background-color:rgba(206, 180, 180, 0.63);}
.bg-grey{
    background-color: rgba(232, 225, 235, 0.842); padding: 25px;}
.bg-pink{
    background-color: rgb(255, 243, 228); padding: 25px;}