.bgPrincipal{
    background-image: url(../img/nav2.png);}
.bg-grey{
    background-color: rgba(232, 225, 235, 0.842); padding: 25px;}
.bg-pink{
    background-color: rgb(255, 243, 228); padding: 10px;}