@import "nHeader";
@import "nBackground";
@import "nVariables";
@import "nFonts";
h1{
    padding: 20px 5px;
}
.datosP{
    padding-left: 15px;
    display: inline;
    font-weight: lighter;
}
.PDG05{padding-top: 5px;}
.PDG15{padding-top: 15px;}
.PDG30{padding-top: 30px;}
.respuestaPF{
    display: inline;
    padding: 10px 50px;
}
footer{
    background-color: rgba(175, 172, 173, 0.171); padding-top: 40px;}

@media (max-width:768px)
    {
        h6{font-size:smaller; padding-top: 5px; padding-bottom: 5px;}
        .bg-grey{
            background-color: rgba(232, 225, 235, 0.842); padding: 10px;}
        .title_ubicacion{font-size: 7px;}
    }

@media (min-width: 800px)
    {
        .title_ubicacion{font-size:25px;}
    }