@import "nHeader";
@import "nBackground";
@import "nVariables";
@import "nFonts";
h1{
    padding: 20px 5px;
}
.card:hover{
    font-size:large;
    border-color: rgb(85, 84, 84);
}
.card{
    transition: all .5s; 
    border-radius:10px; 
    padding: 20px; margin: 10px; 
    background-color: rgb(236, 234, 234);}
.datosP{
    padding: 15px;
    display: inline;
    font-weight: lighter;
}
.cajaContacto{
    padding: 50px 25px;
}
.PDG05{padding-top: 5px;}
.PDG15{padding-top: 15px;}
.PDG30{padding-top: 30px;}
footer{
    background-color: rgba(63, 61, 62, 0.171); margin-top: 40px;
}
@media (max-width:768px)
    {
        h6{font-size:smaller; padding-top: 5px; padding-bottom: 5px;}
        .bg-grey{
            background-color: rgba(232, 225, 235, 0.842); padding: 10px;}
        .title_ubicacion{font-size: 7px;}
        .cajaContacto{margin: 20px 10px;}
    }

@media (min-width: 800px)
    {
        .title_ubicacion{font-size:25px;}
        .respuestaPF{
            display: inline;
            padding: 10px 50px;
        }
    }